$gridCollapseLarge: 1920px !default;
$gridCollapseMedium: 1400px !default;
$gridCollapseSmall: 750px !default;
$gridCollapseExtraSmall: 500px !default;

$gridClassMapping: (
	'lg' #{$gridCollapseLarge},
	'md' #{$gridCollapseMedium},
	'sm' #{$gridCollapseSmall},
	'xs' #{$gridCollapseExtraSmall}
) !default;

.grid-wrap { overflow: hidden; }

.grid {

	margin-left: -20px; 
	margin-top: 20px; 
	margin-bottom: 20px;
	@include flex-flow( row wrap );
	@include display( flex );	
	
	.item>.grid>.col {
		padding-bottom:0 !important;
	}
	
	
	&.vcenter {
		@include align-items( center ); 
	}
	
	&.centered { @include justify-content( center ); }
	
	&.eqh {
		
		&>.col {
			@include display( flex );
			&>.item { @include flex-grow( 1 ); }
		}
	
	}
	
	&>hr { 
		border: solid #000;
		border-width: 1px 0 0;
		margin:0;
		@include flex( 0 0 100% ); 
	}
	
}


.o-first { @include order( -4 ); }
.o-second { @include order( -3 ); }
.o-third { @include order( -2 ); }
.o-fourth { @include order( -1 ); }
.o-last { @include order( 9999 ); }

.col {
	
	padding-left: 20px;
	padding-bottom: 20px;
	
	&>.item,
	&>div {
		width: 100%;
		display: block;
		
		&>.grid:first-child { margin-top:0; }
		
	}
	
}

.grid.fill>.col { 
	@include flex-grow(1);
}

.grid.nopad { margin:0;}
.grid.nopad>.col { padding: 0; }
.grid.pad40 { margin-left: -40px; }
.grid.pad40>.col { padding-left: 40px; padding-bottom: 40px; }
.grid.pad10 { margin-left: -10px; }
.grid.pad10>.col { padding-left: 10px; padding-bottom: 10px; }
.grid.pad5 { margin-left: -5px; }
.grid.pad5>.col { padding-left: 5px; padding-bottom: 5px; }

.col-6 { width: 16.6666667%; }
.col-5 { width: 20%; }
.col-4 { width: 25%; }
.col-1-3,
.col-3 { width: 33.333333%; }
.col-2 { width: 50%; }
.col-1 { width: 100%; }
.col-2-3 {  width: 66.666667%; }

.col-4-5 { width: 80%; }
.col-3-5 { width: 60%; }
.col-2-5 { width: 40%; }
.col-1-5 { width: 20%; }

/* generic padding classes - useful for nopad grids whose items have content that need to be spaced */
.pad-0 { padding:0; }
.pad-5 { padding: 5px; }
.pad-10 { padding: 10px; }
.pad-20 { padding: 20px; }
.pad-40 { padding: 40px; }

@each $map in $gridClassMapping {

	@media screen and (max-width: #{nth($map,2)}) {
		$class: #{nth($map,1)};
		
		.#{$class}-o-first { @include order( -4 ); }
		.#{$class}-o-second { @include order( -3 ); }
		.#{$class}-o-third { @include order( -2 ); }
		.#{$class}-o-fourth { @include order( -1 ); }
		.#{$class}-o-last { @include order( 9999 ); }
		
		.#{$class}-col-6 { width: 16.6666667%; }
		.#{$class}-col-5 { width: 20%; }
		.#{$class}-col-4 { width: 25%; }
		.#{$class}-col-1-3,
		.#{$class}-col-3 { width: 33.333333%; }
		.#{$class}-col-2 { width: 50%; }
		.#{$class}-col-1 { width: 100%; }
		.#{$class}-col-2-3 {  width: 66.666667%; }

		.#{$class}-col-4-5 { width: 80%; }
		.#{$class}-col-3-5 { width: 60%; }
		.#{$class}-col-2-5 { width: 40%; }
		.#{$class}-col-1-5 { width: 20%; }
		
		.#{$class}-pad-0 { padding:0; }
		.#{$class}-pad-5 { padding: 5px; }
		.#{$class}-pad-10 { padding: 10px; }
		.#{$class}-pad-20 { padding: 20px; }
		.#{$class}-pad-40 { padding: 40px; }

		.grid {
			
			&.#{$class}-nopad { 
				margin:0; padding:0; 
				&>.col { padding:0; }
			}
			
			&.#{$class}-pad40 { 
				margin-left:-40px;
				&>.col { 
					padding-left: 40px;
					padding-bottom: 40px;
				}
			}
			
			&.#{$class}-pad20 { 
				margin-left:-20px;
				&>.col { 
					padding-left: 20px;
					padding-bottom: 20px;
				}
			}
			
			&.#{$class}-pad10 { 
				margin-left:-10px;
				&>.col { 
					padding-left: 10px;
					padding-bottom: 10px;
				}
			}
			
			&.#{$class}-pad5 { 
				margin-left:-5px;
				&>.col { 
					padding-left: 5px;
					padding-bottom: 5px;
				}
			}
			
		}
		
		.no-#{$class} { display: none !important; }
		
	}
}

/* responsive grid */
@each $size in 1000,950,900,850,800,750,700,650,599,500,450 {

	@media screen and (max-width: #{$size}px) {
		.no-#{$size} { display: none !important; }
		.collapse-#{$size}>.col { width: 100% !important; display:block;}
	}
	
}