$smallNavDuration: 0.25s;
$smallNavEasing: $ease-in-out-sine;
$reorganizeNavAt: 1150px;
$navTopHeight: 50px;
$headerHeight: 120px;
$smallNavHeaderHeight: 75px;

header { 
	position: fixed; 
	left:0; right:0; top: $navTopHeight;
	background: #fff;
	height: $headerHeight;
	text-align:center;
	@include transform( translate3d(0,0,0) );
	@include display( flex );
	@include align-items( center );
	
	.phone {
		position: absolute;
		top:50%; right:2.5%;
		font-size: 24px;
		text-align: right;
		color: $primaryColor;
		@include transform( translateY(-50%) );
	}
	
}

.header-logo {
	display: block;
	height: 80px;
	margin: auto;
	max-width: 150px;
}


header,
.header-logo {
	@include transition( $smallNavDuration all $smallNavEasing !important );
}

.small-nav & {	
	header { 
		height: $smallNavHeaderHeight;
		top:0;
		box-shadow: 0 4px 4px rgba(0,0,0,0.2);
	}
	.header-logo { height: 40px; }
}

@media screen and (max-width: $collapseNavAt) {
	header { display: none; }
}