.toggle-nav { 
	@include transform( translateZ(0) );
	outline: none;
	color: #fff;
	position: absolute;
	background: rgba(255,255,255,0.8);
	top:80px; left: 10px;
	height: 42px;
	padding: 10px 10px 10px 40px;
	font-weight: 600;
	@include transition( $smallNavDuration all $smallNavEasing 0s );
	text-transform: uppercase;
	
	.show-nav & { top: 5px; }
	.small-nav & { top:18px; }
	
	@media screen and (max-width: $collapseNavAt) {
		font-size:0;
		padding-left: 30px;
	}
		
	.show-nav &,
	&:hover {
		background: $primaryColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: #fff; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		border-top:  2px solid $primaryColor;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { border-top-color: $primaryColor !important; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 2px solid $primaryColor;
			@include transform-origin( top left );
			.show-nav & {
				margin-left: -1px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { @include transform( rotate3d(0,0,1,-45deg) ); }
		}
		
	}
	
}

.nav-top,
header,
.nav-off-canvas-wrap,
.nav-toggle-wrap,
.nav {
	margin: 0 auto;
	width: $pageWrapperWidth;
	max-width: 100%;
}

.nav-off-canvas-wrap,
.nav-toggle-wrap {
	position: fixed;
	top:0; left:0; right:0;
}

.nav-toggle-wrap { z-index: 24; }
.nav-off-canvas-wrap { z-index: 9; }

$offCanvasNavWidth: 280px;

.nav-off-canvas {
	position: absolute;
	top:0; left:0; height: 100vh;
	overflow-y: auto;
	width: $offCanvasNavWidth;
	-webkit-overflow-scrolling: touch;
	
	.button { 
		margin-top: 10px;
		border-radius:0;
		border-width: 2px 0; 
	}
	
}

nav {
	padding-top: 60px;
	a {
		display: block;
		color: #fff;
		padding: 12px;
	}
	
	&.selected>a
	&.expanded>a,
	a:hover { background: $secondaryColor; }
	
	.drop {
	
		&>a {
			@include t-fa();
			@include display( flex );
			@include align-items( center );
			@include justify-content( flex-start );
			&:before {
				@include transition( 0.2s transform $ease-in-out-back );
				content: $fa-var-angle-right;
				@include order(99);
				margin-left: 10px;
			}
		}
	
		ul {
			margin: 0 10px;
			display: none;
			a {
				margin-bottom: 1px;
				padding: 8px 12px;
				background: darken($darkBackgroundColor,5);
				&:hover { background: $secondaryColor; }
			}
		}
		
		&.expanded {
			&>a {
				&:before {
					@include transform( rotateZ(90deg) );
				}
			}
		}
		
	}
	
}

.nav-off-canvas,
header,
.page-wrapper {
	@include transition( $smallNavDuration all $smallNavEasing );
}

.nav-top,
header { 
	z-index: 11; 
}
.page-wrapper { 
	z-index: 10; 
	box-shadow: -4px 0 4px rgba(0,0,0,0.8);
}

.show-nav {
	
	height: 100vh;
	overflow: hidden;
	
	.nav-top,
	header,
	.page-wrapper {
		@include transform( translate3d($offCanvasNavWidth,0,0) );	
	}
}

.nav-top {
	height: $navTopHeight;
	background: $primaryColor;
	color: #fff;
	position: fixed;
	top:0; left:0; right:0;
	@include display( flex );
	@include justify-content( flex-end );
	@include align-items( center );
	@include transform( translate3d(0,0,0) );
	@include transition( $smallNavDuration transform $smallNavEasing );
	z-index: 21;
	.small-nav & { 
		@include transform( translate3d(0,-$navTopHeight,0) ); 
	}
	.show-nav.small-nav & {
		@include transform( translate3d($offCanvasNavWidth,-$navTopHeight,0) ); 
	}
	
	&>a { 
		line-height: $navTopHeight; 
		text-transform: uppercase;
		color: #fff;
		font-size: 14px;
		padding: 0 8px;
		&:hover { 
			color: $secondaryColor;
			background: #fff; 
		}
	}
	
	.social a,
	.contact-item {
		width: 30px;
		text-align:center;
		height: $navTopHeight;
		line-height: $navTopHeight;
		cursor: pointer;
		&:hover {
			&:before { color: $secondaryColor; }
			background: #fff;
		}
	}
	
	.contact-item {
		position: relative;
	}
	
}

.contact-item:hover .contact-card {
	@include transform( none );
}

.contact-card {
	line-height: 1.4;
	position: absolute;
	font-size: 14px;
	top: 100%; right:0;
	background: #fff;
	width: 250px;
	color: $bodyContentColor;
	text-align: left;
	@include transform-origin( top center );
	@include transform( scale(1,0) );
	@include transition( 0.2s transform $ease-in-out-sine );
	box-shadow: 0 4px 4px rgba(0,0,0,0.4);
	border-radius: 0 0 8px 8px;
	cursor: default;
	
	div { padding: 20px 30px; }
	
	.title { 
		font-weight: 600; 
		color: $secondaryColor;
		display: block;
		font-size: 16px;
	}
	
	address { margin: 5px 0 10px; }
	
	.phone {
		display: block;
		span {
			text-transform: uppercase;
			display: inline-block;
			vertical-align: middle;
			width: 40px;
			font-weight: 600; 
			color: $secondaryColor;
		}
	}
	
}

.global-search-form {

	height: $navTopHeight; width: $navTopHeight;
	.nav-top & {
		border: none;
		background: $primaryColor;
	}
	
	::-webkit-input-placeholder { color: #fff; font-family: $defaultFontStack,-webkit;}
	::-moz-placeholder { color: #fff; font-family: $defaultFontStack,-moz;}
	:-moz-placeholder { color: #fff; font-family: $defaultFontStack,--moz;}
	:-ms-input-placeholder { color: #fff; font-family: $defaultFontStack,-ms;}
	:placeholder { color: #fff; font-family: $defaultFontStack,-webkit; }
	input { 
		color: #fff; 
		outline: none;
	}
	
	&:after,
	input { display: none; }
	.search-close { display: none; }
	
	.show-search & {
		width: 320px;
		background: $secondaryColor;
		.search-close,
		input { display: block; }
		.search-close {
			@include order( -1 );
		}
		
	}
	
	button { 
		color: #fff; 
		width: $navTopHeight; height: $navTopHeight;
		&:hover {
			background: $secondaryColor;
		}
	}

}

@media screen and (max-width: 700px) {
	.show-search {
		.nav-top a,
		.nav-top .contact-item,
		.nav-top .social { display: none; }
		
		.global-search-form { width: 100%; }
		
	}
	
	.toggle-nav {
		top: 3px;
		background: #fff;
		box-shadow: 0 0 8px rgba(0,0,0,0.4);
	}
}

@media screen and (max-width: 450px) {
	.nav-top {
		.contact-item,
		.social { display: none; }
	}
}