$selectorColor: #fff !default;
$selectorColorActive: #ddd !default;
$selectorBackgroundColor: #000 !default;
$selectorBackgroundColorActive: #999 !default;

/* selectors */
.selector { 
	position: relative; 
	margin: 0 0 10px; 
	cursor: pointer; 
	display: inline-block; 
	background: $selectorBackgroundColor;
	&:hover { background: $selectorBackgroundColorActive; }
	
	&.with-arrow { 
		padding-right:30px; 
		&:before {
			@include fa-icon();
			content: $fa-var-chevron-down;
			color: $selectorColor;
			position: absolute; 
			right: 10px; top: 50%; left:auto;
			margin-top: -9px; 
			pointer-events: none; 
			font-size: 18px; 
			line-height:1;
		}
	}
	
	.value {
		display: block; 
		padding: 9px 14px 8px; 
		color: $selectorColor; 
		line-height: 1; 
		font-family: $defaultFontStack; 
		font-size: 16px; 
		text-indent:0; 
		text-transform: uppercase; 
		font-weight: bold; 
	}
	
	select:focus+.value,
	&:hover .value,
	&:hover:before {
		color: $selectorColorActive;
	}
	
	select {
		position: absolute; 
		top:0; left:0; right:0; bottom:0; 
		width: 100%; height: 100%; 
		opacity:0; 
		background: transparent; 
		cursor: pointer; 
		z-index: 10;
	}
	
	
}