/* hero */
.hero {
	
	background: #000; 
	position: relative;
	
	.fader-item {
		height: 100vh;
		min-height: 500px;
		max-height: 800px;
		padding-top: $headerHeight + $navTopHeight;
		position: relative;
		background-color: #000;
		@include display( flex );
		
		&.with-content { 
			height: auto;
			min-height: 100vh; 
		}
		
	}
	
}

.fader-item-bg {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: $headerHeight + $navTopHeight;
	left:0; right:0; bottom:0;
}

@media screen and (max-width: $collapseNavAt) {
	.hero {
		.fader-item { padding-top: $navTopHeight; }
	}
	.fader-item-bg { top: $navTopHeight; }
}

/* no hero below 600px */
@media screen and (max-width: $collapseNavAt) {
	.home { padding:0; }
	body { padding-top: 20px; }
	.hero { 
		display: none; 
		.home & { display: block; }
	}
}